
* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova thin', sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* overflow: hidden; */
}

.main {
  display: flex;
  height: 100vh;
}

:root {
  --transition_speed: 0.3s;
  --input_border: 2px rgb(91, 80, 255) solid;
  --button_border: 1px rgb(91, 80, 255) solid;
  --border_raidus: 4px;
}
/* ----------------------sidebar--------------------------- */

.side-bar {
  padding-top: 5vh;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  padding-left: 3vh;
  height: 80vh;
  width: 18vw;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.5vh;
  padding-top: 2vh;
  border-radius: var(--border_raidus);
  width: 13%;
  height: 33vh;
  background-color: rgb(94, 124, 255); 
   position: fixed;

}

.side-bar-buttons .text a {
  width: 0vw;
  height: 0vh;
  font-size: 18px;
  color: black;
  transition: var(--transition_speed);
  text-decoration: none;
  cursor: pointer;
}

.side-bar-button .text {
  color: black;
  cursor: pointer;
}

.side-bar .text a:hover {
  color: white;
}

/* -----------------------Teachers page------------------------ */

.main-teachers {
  display: flex;
  
  justify-content: center;
  padding-top: 15vh;
  width: 100%;
  height: 100vh;
}

.content-teachers{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.inputs-teachers-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6.8vh;
}

.input-teachers  {
  display: flex;
  width: 12.4vw;
  color: rgba(0, 0, 0, 0.5);
  height: 5.5vh;
  border: var(--input_border);
  border-radius: var(--border_raidus);
  padding-left: 1vw;
  justify-content: space-between;
  outline: none;
  transition: var(--transition_speed);
}

.input-teachers:focus {
  background-color: rgb(224, 224, 224);
  border: none;
  width: 12.9vw;
  height: 6vh;
  color: black;
}


.buttons-teachers {
  display: grid;
  gap: 0.5vh;
}

.buttons-teachers button {
  height: 6vh;
  width: 41.7vw;
  cursor: pointer;
  background: none;
  border-radius: var(--border_raidus);
  border: var(--button_border);
  transition: var(--transition_speed);
}

.buttons-teachers button:hover {
  background-color: rgb(91, 80, 255);
  width: 41.8vw;
  height: 6.2vh;
}

.buttons-teachers .search-buttons {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 41.7vw;
  gap: 0.3vw;
  padding-bottom: 2vh;
}

.buttons-teachers .search-buttons button {
  /* width: 1vw; */
}

.tables-teachers {
  width: 100%;
}
.tables-teachers table {
  width: 100%;
  border: var(--button_border);
  
}

.tables-teachers th {
  padding: 0 4vh 0 4vh;
  font-size: 14px;
  border-left: var(--button_border);
  font-family: 'Proxima Nova Thin', sans-serif ;
  font-weight: lighter;

}
 
.tables-teachers .th-Number{
  border-left: none;
  padding: 0 1vh 0 1vh;
}

.tables-teachers td{
  display: none;
  text-align: center;
  border: var(--button_border);
  height: 5vh;
}

.tables-teachers .td-Delete-and-Edit button{
  height: 4vh;
  width: 6.1vw;
  cursor: pointer;
  background: none;
  border-radius: 3px;
  border:none;
  background-color: rgb(91, 80, 255);

  transition: var(--transition_speed);
}

.tables-teachers .td-Delete-and-Edit button:hover {
  background-color: rgb(91, 80, 255);
  width:6.5vw;
  height: 4.1vh;
}
/* ----------------students----------- */
.students-main{
  padding-top: 15vh;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-left:13vw ;
  justify-content: center;
}
.students-content{
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  padding-right: 3vw;
  align-items: center;
}
.students-inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.students-inputs input{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  height: 5.5vh;
  width: 10vw;
  padding-left: 1vw;
  transition: var(--transition_speed);
}

.students-inputs input:focus{
  border: none;
  outline: none;
  width: 10.6vw;
  height: 5.7vh;
  background-color: rgb(224, 224, 224);
}

.students-inputs input[type="date"]{
  color: rgba(0, 0, 0, 0.5);
  
}

.students-inputs input[type="date"]:focus{
  color: rgb(0, 0, 0);
}
.students-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  
}

.students-buttons button{
  background: none;
  border: var(--button_border);
  width: 14.1vw;
  height: 6.2vh;
  border-radius: var(--border_raidus);
  transition: var(--transition_speed);
  cursor: pointer;
}

.students-buttons span button{
  width: 43.1vw;
}
.students-buttons .search-buttons{
  display: flex;
  justify-content: center;
  gap: 0.6vh;
  
}
.students-buttons input{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  height: 6.2vh;
  width: 14.3vw;
  padding-left: 1vw;
  transition: var(--transition_speed);
}

.students-buttons button:hover{
  width: 14.3vw;
  height: 6.3vh;
  background-color: rgb(91, 80, 255) ;
}

.students-buttons span button:hover{
  height: 6.3vh;
  width: 43.2vw;
}

.students-buttons input:focus{
  outline: none;
  border: none;
  background-color: rgb(224,224,224);
  width: 14.5vw;
  height: 6.3vh;
}
.students-tables{
  display: flex;
}
.students-tables table{
  border: var(--button_border);
  width: 43vw;
}

.students-tables th{
  
  border-left:var(--button_border);
  padding: 0 1vw 0 1vw; 

}

.students-tables .th-Num{
  border-left: none;
}

.students-pfp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 40vh;
  width: 20vw;
  border: var(--button_border);
  border-radius: 5px;
  cursor: pointer;
  
}

.students-pfp img{
  width: 20%;
  height: 20%;
  cursor: pointer;
}



/* ---------------------Subjects page-------------------- */

.subject-main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top:13vh ;
}

.subject-content{
  display: flex;
  flex-direction: column;
  align-items:center;  
  gap: 1.5vh;
}
.subject-input{
  display: flex;
  justify-content: space-between  ;
  width: 100%;
}
.subject-input input{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  width: 20vw;
  height: 5.5vh;
  outline: none;
  transition: var(--transition_speed);
  padding: 1vw;
}
.subject-input input:focus{
  border: none;
  background-color: rgb(224, 224, 224);
  width: 20.2vw;
  height: 5.6vh;
}

.subject-input select{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  background-color:white;
  outline: none;
  width: 20vw;
  height: 5.5vh;
  transition: var(--transition_speed);
}

.subject-input select:invalid{
  color: rgba(0, 0, 0, 0.5);
}

.subject-input select option{
  color: rgb(0, 0, 0);
  
}
.subject-input select:focus{
  width: 20.2vw;
  height: 5.6vh;
  border: none;
  background-color: rgb(224, 224, 224);
}
.subject-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
}
.subject-buttons button{
  border: var(--button_border);
  transition: var(--transition_speed);
  border-radius: var(--border_raidus);
  height: 5.5vh;
  width: 14vw;
  background-color: white;
  cursor: pointer;

}

.subject-buttons button:hover{
  width: 14.2vw;
  height: 5.6vh;
  background-color: rgb(91, 80, 255);
}

.subject-buttons span button{
  width: 43vw;

}

.subject-buttons span button:hover{
  background-color:rgb(91, 80, 255);
  height: 5.6;
  width: 43.1vw;
}

.subject-buttons input{
  border: var(--input_border);
  height: 5.5vh;
  border-radius: var(--border_raidus);
  outline: none;
  padding-left: 1vw;
}


.subject-table{
  /* border: var(--button_border); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-table table{
  border: var(--button_border)  ;
}

.subject-table tr th , .subject-table tr td{
  padding:0 5.35vw 0 5.36vw;
  border-left:var(--button_border);
  /* border-bottom: var(--button_border); */

}

.subject-table tr{
  
}

.subject-table .th-Num{
  border-left:none;  
}

.subject-table .td-Num{
  border-left: none;
}

.subject-table tr td{
  padding-left: 0;
}
.subject-table tr td{
  
  border-top:var(--button_border);
  padding: 1vh;
  
  
}

.subject-table tr .td-Num{
  padding-left: 5.8vw;
}

.subject-table tr .td-Name{
  padding-left: 5.5vw;
} 

.subject-table tr .td-Teacher{
  padding-left: 6.3vw;
}

/* ---------------------classes-------------------- */

.classes-main