
* {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova thin', sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* overflow: hidden; */
}

.main {
  display: flex;
  height: 100vh;
}

:root {
  --transition_speed: 0.3s;
  --input_border: 2px rgb(91, 80, 255) solid;
  --button_border: 1px rgb(91, 80, 255) solid;
  --border_raidus: 4px;
}
/* ----------------------sidebar--------------------------- */

.side-bar {
  padding-top: 5vh;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  padding-left: 3vh;
  height: 80vh;
  width: 18vw;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1.5vh;
  padding-top: 2vh;
  border-radius: var(--border_raidus);
  width: 13%;
  height: 33vh;
  background-color: rgb(94, 124, 255); 
   position: fixed;

}

.side-bar-buttons .text a {
  width: 0vw;
  height: 0vh;
  font-size: 18px;
  color: black;
  transition: var(--transition_speed);
  text-decoration: none;
  cursor: pointer;
}

.side-bar-button .text {
  color: black;
  cursor: pointer;
}

.side-bar .text a:hover {
  color: white;
}

/* -----------------------content page------------------------ */

.main-page {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15vh;
  width: 100%;
  height: 100vh;
  gap: 4vw 0vh;
}

.content-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh 1vh;
  
}
.inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
  height: 12.1vh;
  
}
.inputs-sub-alt{
  display: flex;
  justify-content: space-between  ;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
}
.create-edit-inputs{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width: 100%;
}

input  {
  display: flex;
  width: 12.4vw;
  
  height: 5.5vh;
  border: var(--input_border);
  border-radius: var(--border_raidus);
  padding-left: 1vw;
  justify-content: space-between;
  outline: none;
  transition: var(--transition_speed);
}

.create-edit-inputs-sub-alt{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width: 100%;
  
}
.create-edit-inputs-sub-alt input{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  width: 18vw;
  height: 5.5vh;
  outline: none;
  transition: var(--transition_speed);
  padding: 1vw;
}
.create-edit-inputs-sub-alt input:focus{
  border: none;
  background-color: rgb(224, 224, 224);
  width: 20.2vw;
  height: 5.6vh;
}

select{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  background-color:white;
  outline: none;
  width: 12.4vw;
  height: 5.5vh;
  transition: var(--transition_speed);
}

.create-edit-inputs-sub-alt select{
  width: 18vw;
}
.create-edit-inputs-sub-alt select:focus{
  width: 20.2vw;
}
select:invalid{
  color: rgba(0, 0, 0, 0.5);
}

select option{
  color: rgb(0, 0, 0);
  
}
 select:focus{
  width: 13vw;
  height: 5.6vh;
  border: none;
  background-color: rgb(224, 224, 224);
}
.Add-button{
  display: flex;
}

.create-edit-inputs-alt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.create-edit-inputs-alt input{
  border: var(--input_border);
  border-radius: var(--border_raidus);
  height: 5.5vh;
  width: 10vw;
  padding-left: 1vw;
  transition: var(--transition_speed);
}

.create-edit-inputs-alt input:focus{
  border: none;
  outline: none;
  width: 10.6vw;
  height: 5.7vh;
  background-color: rgb(224, 224, 224);
}

.create-edit-inputs-alt input[type="date"]{
  color: rgba(0, 0, 0, 0.5);
  
}

.create-edit-inputs-alt input[type="date"]:focus{
  color: rgb(0, 0, 0);
}

.create-edit-inputs-alt-class{
  display: flex;
  justify-content: center;
}

.Add-button button{
  height: 6vh;
  width: 42.1vw;
  cursor: pointer;
  background: none;
  border-radius: var(--border_raidus);
  border: var(--button_border);
  transition: var(--transition_speed);
}

.Add-button button:hover{
  width: 42vw;
  height: 6.3vh;
  background-color: rgb(91, 80, 255) ;
}


.Name-class-alt-input{
  width: 30vw;
}

.Name-class-alt-input:focus{
  width: 30.2vw
}
input:focus {
  background-color: rgb(224, 224, 224);
  border: none;
  width: 12.9vw;
  height: 6vh;
  color: black;
}
input[type="date"]{
  color: rgba(0, 0, 0, 0.5);
}


.buttons {
  display: flex;
  gap: 1vh;
  flex-direction: row;
}
.buttons .search-button{
  display: flex;
  gap: 1vh;
  flex-direction: row;
}
.buttons button {
  height: 6vh;
  width: 14.4vw;
  cursor: pointer;
  background: none;
  border-radius: var(--border_raidus);
  border: var(--button_border);
  transition: var(--transition_speed);
}

.buttons button:hover {
  background-color: rgb(91, 80, 255);
  width: 14.5vw;
  height: 6.2vh;
}

.buttons .search-buttons {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  gap: 0.3vw;
  padding-bottom: 2vh;
}


.buttons .search-buttons button {
  /* width: 1vw; */
}

.tables table{
  border: var(--button_border);
  width: 42.1vw;
}

.tables table tr .th-border{
  border-left: var(--button_border);
}

.tables table tr .th-Num{
  /* border-left: none; */
  width: 4vw;
}

.tables table tr td{
  text-align: center;
  /* border-left: var(--button_border); */
  border-top: var(--button_border);
}

.tables table tr .td-border{
  border-left: var(--button_border);
}

.tables table tr .td-Num{
  width: 4vw;
  border-left: none;
}
.tables .td-Delete-and-Edit button{
  height: 4vh;
  width: 6.1vw;
  cursor: pointer;
  background: none;
  border-radius: 3px;
  border:none;
  background-color: rgb(91, 80, 255);

  transition: var(--transition_speed);
}

.tables .td-Delete-and-Edit button:hover {
  background-color: rgb(91, 80, 255);
  width:6.5vw;
  height: 4.1vh;
}

.tables .th-Pfp{
  width: 6vw;
}
.tables .td-Pfp img{
  height: 6vh ;
  width: 6vw
}

.students-pfp{
  
  height: 40vh;
  width: 20vw;
  border: var(--button_border);
  border-radius: 5px;
  cursor: pointer;
}

.students-pfp img{
  width: 20%;
  height: 20%;
  cursor: pointer;
}
.students-pfp input{
  display:none;
}
.students-pfp label{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  cursor: pointer;
}
